.title{
    position: relative;
    h1 {
        color: #fff;
        font-size: 1rem;
        letter-spacing: 0.05em;
        text-align: center;

        span {
            font-size: 2rem;
        }
    }
}